@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hannah Sullivan</h1>
    <p class="lead">Senior Management Information Systems student at Ohio University. Creating this application for MIS 4200.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pre-College</h2>
        <p>
            I grew up in Sunbury, Ohio about 30 minutes north of Columbus, Ohio.
            In High School, I did Cheerleading for Football, Basketball and Competition.
            I also did competitive Cheerleading for Midwest Cheer Elite.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>College Life</h2>
        <p>I am currently a Senior involved in the Professional Business Fraternity, 
        Phi Chi Theta. I just completed my term as the Communications and Public Relations
        Director as well as the Information Technology Director.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Post-College</h2>
        <p>I will be moving back home to Sunbury, to live with my mom and sister. I have
        accepted a full-time offer with Insight Global as an IT Recruiter in Columbus. I 
        also will be a Social Media Intern for Level D&I Solutions.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>